.main-containar {
    border-radius: 2rem;
    width: 60%;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
    background: #e7a1e134;
}

figure img {
    width: 4rem;
    height: 4rem;
    border-radius: 30%;
    margin-top: 1rem;
}

figcaption {
    font-size: 1.2rem;
    font-weight: 700;
    color: #ee72e4;
    margin-bottom: 1rem;
}

.input-item {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto 2rem auto;
    background: white;
    border-radius: 10px;
}

.input-item:hover {
    box-shadow: 1px 2px 20px 1px black;
}

.input-item input {
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    outline: none;
    margin: 0px 0px 0px 0.5rem;
}

.input-item input:hover {
    border: none;
    outline: none;
}

.fa-plus-circle {
    display: inline-block;
    border-color: transparent;
    background-color: white;
    border: none;
    outline: none;
    color: #610059;
    cursor: pointer;
    margin: auto 0.5rem;
    padding: auto;
}

.fa-pen-alt {
    display: inline-block;
    border-color: transparent;
    background-color: white;
    border: none;
    outline: none;
    color: #610059;
    cursor: pointer;
    margin: auto 0.5rem;
    padding: auto;
}

.fa-plus-circle:hover {
    color: green;
}

.fa-pen-alt:hover {
    color: green;
}

.one-item {
    display: flex;
    width: 80%;
    min-height: 2.2rem;
    margin: 0.5rem auto;
    background: white;
    border-radius: 10px;
}

.one-item:hover {
    background: violet;
}

.one-item h3 {
    margin: auto 0.5rem;
    text-transform: capitalize;
}

.one-item h3::selection {
    color: white;
    background-color: black;
}

.fa-trash-alt,
.fa-edit {
    display: inline-block;
    border-color: transparent;
    background: transparent;
    border: none;
    outline: none;
    color: #610059;
    cursor: pointer;
    margin: auto 0.5rem auto auto;
    padding: auto;
}

.fa-trash-alt {
    margin: auto 0.5rem auto 0.5rem;
}

.fa-trash-alt:hover {
    color: red;
}

.fa-edit:hover {
    color: green;
}

.photo_todo {
    margin: 1rem auto;
    display: flex;
}

.photo_todo img {
    width: 20rem;
    height: 20rem;
    display: inline-block;
    margin: auto;
}

@media screen and (max-width:700px) {
    .main-containar {
        width: 80%;
    }
}

@media screen and (max-width:450px) {
    .main-containar {
        width: 95%;
    }
    .photo_todo img {
        width: 15rem;
        height: 15rem;
    }
    .input-item {
        width: 95%;
    }
    .one-item {
        width: 95%;
    }
}

@media screen and (max-width:240px) {
    .photo_todo img {
        width: 10rem;
        height: 10rem;
    }
}

@media screen and (min-height:680px) {
    .photo_todo {
        margin: 1rem auto 4.2rem auto;
    }
}

@media screen and (min-height:732px) {
    .photo_todo {
        margin: 1rem auto 7rem auto;
    }
}

@media screen and (min-height:810px) {
    .photo_todo {
        margin: 1rem auto 10rem auto;
    }
}

@media screen and (min-height:900px) {
    .photo_todo {
        margin: 1rem auto 15rem auto;
    }
}