* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    height: 4rem;
    display: grid;
    margin-top: auto;
    background: #e7a1e134;
    clear: both;
}

footer p {
    display: inline-block;
    margin: auto;
    color: #ee72e4;
    font-size: 2rem;
    font-weight: 650;
}

@media screen and (max-width:250px) {
    footer p {
        font-size: 1.5rem;
    }
}